:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #222731;

  /* Custom colors*/
  --slidev-theme-color: #f3eff5;
  --slidev-theme-background: #222731;

  /* Code colors */
  --slidev-theme-code-background: #0f131e;
  --slidev-theme-code-border: #242d34;

  /* Accent colors */
  --slidev-theme-accents-rose: #CBA9D8;
  --slidev-theme-accents-teal: #AB9DD4;
  --slidev-theme-accents-yellow: #ffe45e;
  --slidev-theme-accents-red: #845BC5;
  --slidev-theme-accents-lightblue: #15c2cb;
  --slidev-theme-accents-blue: #5eadf2;
  --slidev-theme-accents-vulcan: #0e131f;

  /*  Default */
  --slidev-theme-default-headingBg: var(--slidev-theme-accents-yellow);
  --slidev-theme-default-headingColor: var(--slidev-theme-accents-vulcan);
  --slidev-theme-default-background: var(--slidev-theme-background);

  /*  Center */
  --slidev-theme-center-headingBg: var(--slidev-theme-accents-blue);
  --slidev-theme-center-headingColor: var(--slidev-theme-accents-vulcan);
  --slidev-theme-center-background: var(--slidev-theme-background);

  /*  Cover */
  --slidev-theme-cover-headingBg: var(--slidev-theme-accents-teal);
  --slidev-theme-cover-headingColor: var(--slidev-theme-accents-vulcan);
  --slidev-theme-cover-background: var(--slidev-theme-background);

  /*  Section */
  --slidev-theme-section-headingBg: var(--slidev-theme-accents-lightblue);
  --slidev-theme-section-headingColor: var(--slidev-theme-accents-vulcan);
  --slidev-theme-section-background: var(--slidev-theme-background);

  /*  About me */
  --slidev-theme-speakerinfo-bg: var(--slidev-theme-color);
  --slidev-theme-speakerinfo-color: var(--slidev-theme-background);
  --slidev-theme-speakerinfo-helloBg: var(--slidev-theme-accents-yellow);
  --slidev-theme-speakerinfo-helloColor: var(--slidev-theme-background);
  --slidev-theme-speakerinfo-nameColor: var(--slidev-theme-accents-red);
}

.dark #slide-content,
.dark .bg-main,
.slidev-layout {
  background: var(--slidev-theme-background);
  color: var(--slidev-theme-color);
}


.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1+p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p+h2,
  ul+h2,
  table+h2 {
    @apply mt-10;
  }
}

